<!DOCTYPE html>
<html lang="en" data-theme="sunset">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5/themes.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Form Movie</title>
</head>
<body>

<h1 class="text-2xl font-bold text-primary p-8" th:text="#{movie.new}"></h1>

<main class="grid place-items-center gap-4 p-8">
    <form th:object="${movie}" method="post" class="w-full max-w-md">

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{title}"></legend>
            <input th:field="*{title}" th:errorclass="input-error" type="text" class="input"
                   th:placeholder="#{title}" required />
            <p class="label text-error" th:errors="*{title}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{gender}"></legend>
            <input th:field="*{gender}" th:errorclass="input-error" type="text" class="input"
                   th:placeholder="#{gender}" />
            <p class="label text-error" th:errors="*{gender}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{dateWatched}"></legend>
            <input th:field="*{dateWatched}" th:errorclass="input-error" type="date" class="input" />
            <p class="label text-error" th:errors="*{dateWatched}"></p>
        </fieldset>

        <fieldset class="fieldset">
            <legend class="fieldset-legend" th:text="#{rating}"></legend>
            <input th:field="*{rating}" th:errorclass="input-error" type="number" min="0" max="10" class="input" />
            <p class="label text-error" th:errors="*{rating}"></p>
        </fieldset>

        <div class="space-x-4">
            <a href="/movies" class="btn btn-neutral" th:text="#{cancel}"></a>
            <button type="submit" class="btn btn-primary" th:text="#{save}"></button>
        </div>

    </form>
</main>

</body>
</html>
